*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

aside{
    width: 17%;
    background-color: #da3b3b;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    /* max-width: 1200px; */
    flex-direction: column;
}

#LogoPrincipal{
    width: 150px;
}
section{
    display:flex;
    background-color: blueviolet;
}

section > img{
    width: 2px;
    height: 2px;
}